/* src/assets/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #00594C;
    --color-secondary: #03B1A9;
    --color-background: #f4f4f4;
    --color-text-dark: #1f2937;
    --color-text-light: #6b7280;
    --color-white: #fff;
    --font-sans: 'Inter', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

button {
    font-family: var(--font-sans);
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}
